devices:
  m000007:
    output1:
      transition: 0

    variable1:
      unit: "celsius"

    setpoint1:
      unit: "celsius"

    variable4:
      unit: "percent"

    motor2:
      positioning_mode: module

    motor3:
      positioning_mode: bs4

    motor_outputs:
      reverse_time: rt600
      positioning_mode: module

    homeassistant:
      include: [output1, output2, relay1, relay2, led1, led2, variable3, variable4, binsensor2]

      exclude: [variable3]

      binary_sensors:
        door_sensor:
          name: "Door Sensor"
          source: binsensor1

      covers:
        cover1:
          name: "Cover Relays"
          target: motor1

        cover2:
          name: "Cover PosRelays"
          target: motor2

        cover3:
          name: "Cover BS4"
          target: motor3

        cover_outputs:
          name: "Cover Outputs"
          target: outputs

      sensors:
        output_value1:
          name: "Output Value 1"
          source: "variable3"

      switches:
        waterpump:
          name: "Water Pump"
          target: relay1

      lights:
        bedroomlight:
          name: "Bedroom Light"
          target: output1

      climates:
          thermostat:
            name: "Thermostat"
            temperature: setpoint1
            current_temperature: variable1


homeassistant:
  enabled: true
  scan_modules: false


log_level: "debug"
retained_broker_states: true
